body {
  background-color: #231e23;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: #13b9bf;
  width: 330px;
  height: 480px;
  padding: 30px 0 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.container .display {
  height: 60px;
  background-color: #e9e9ed;
  border-radius: 5px;
  margin: 0 10px;
}
.container .teclas {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input {
  height: 55px;
  width: 55px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  color: #bf1363;
  font-weight: bold;
  font-size: 16px;
}

.container .teclas div:last-child {
  width: 289px;
  display: flex;
  justify-content: space-between;
}

.container .teclas div:last-child > input:first-child {
  width: 130px;
}
